body {
    font-family: 'Arial', sans-serif;
    background-color: #add8e6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinhe ao topo */
    min-height: 100vh;
}

.container,
.observation-container {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

.half-container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin-top: 20px; /* Adicione um espaçamento entre os contêineres e o topo */
}


h2 {
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para o novo contêiner da tabela de observações */
.observation-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.observation-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.observation-table th, .observation-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.observation-table th {
    background-color: #007bff;
    color: #fff;
}
